<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document</title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ list_view.name }}</h1>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>

                            <th>Due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in todo_item.items.all %}
                        <tr>
                            <td>{{ item.task }}</td>
                            <td><{{ item.duedate }}/td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
